.custom-button {
  color: #e5ecf0;
  font: 12px Helvetica, sans-serif;
}

.sharp-button {
  color: #e5ecf0;
  font: 12px Helvetica, sans-serif;
  border-radius: 0;
}

button.selected {
    background-color: #1588c5;
}
